<div class="@($"custom-control custom-checkbox {CssClass}")">
    <input type="checkbox" 
           class="custom-control-input" 
           id="@Id" 
           disabled="@IsReadonly"
           checked="@IsChecked" 
           onclick="@OnToggle" />
    <label class="custom-control-label" for="@Id">@Label</label>
</div>

@functions {
    [Parameter] string CssClass { get; set; } = string.Empty;
    [Parameter] string Label { get; set; }
    [Parameter] string Id { get; set; }
    [Parameter] bool IsReadonly { get; set; } = false;
    [Parameter] bool IsChecked { get; set; }
    [Parameter] EventCallback OnToggle { get; set; }
}