<div class="@($"custom-control custom-checkbox {CssClass}")">
    <input type="checkbox" 
           class="custom-control-input" 
           id="@Id" 
           disabled="@IsReadonly"
           checked="@IsChecked" 
           @onclick="@OnToggle" />
    <label class="custom-control-label" for="@Id">@Label</label>
</div>

@code {
    [Parameter]public string CssClass { get; set; } = string.Empty;
    [Parameter]public string Label { get; set; }
    [Parameter]public string Id { get; set; }
    [Parameter]public bool IsReadonly { get; set; } = false;
    [Parameter]public bool IsChecked { get; set; }
    [Parameter]public EventCallback OnToggle { get; set; }
}