<Modal IsVisible="Model.IsVisible"
       Size="Size"
       OnClose="(_=>Model.IsVisible=false)"
       OnClosed="Model.OnClosed">
    <EditForm Model="Model" OnValidSubmit="Model.OnValidSubmit">
        <DataAnnotationsValidator />
        <ModalHeader OnClose="@(()=>Model.IsVisible=false)">
            <i class="@($" fas fa-{TitleIcon}")" aria-hidden="true"></i>
            <span class="ml-1">@TitleText</span>
        </ModalHeader>
        <ModalBody>
            @ChildContent
        </ModalBody>
        <ModalFooter>
            <button type="submit" class="btn btn-primary">
                <i class="@($" fas fa-{SubmitIcon}")" aria-hidden="true"></i>
                <span class="ml-1">@SubmitText</span>
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    @onclick="@(_=>Model.IsVisible=false)">
                <i class="fas fa-times" aria-hidden="true"></i>
                <span class="ml-1">Close</span>
            </button>
        </ModalFooter>
    </EditForm>
</Modal>

@code {
    [Parameter] ModalFormModel Model { get; set; }
    [Parameter] string TitleText { get; set; } = "Form Title";
    [Parameter] string TitleIcon { get; set; } = "plus";
    [Parameter] string SubmitText { get; set; } = "Save";
    [Parameter] string SubmitIcon { get; set; } = "save";
    [Parameter] ModalSize Size { get; set; } = ModalSize.Default;
    [Parameter] RenderFragment ChildContent { get; set; }
}