<EditForm Model="Model" OnValidSubmit="Model.OnValidSubmit">
    <DataAnnotationsValidator />
    <Modal IsVisible="Model.IsVisible" Size="Size" OnClose="(_=>Model.IsVisible=false)" OnClosed="Model.OnClosed">
        <ModalTitle>
            <i class="@($"fas fa-{TitleIcon}")" aria-hidden="true"></i>
            <span class="ml-1">@TitleText</span>
        </ModalTitle>
        <ModalBody>
            @ChildContent
        </ModalBody>
        <ModalFooter>
            <button type="submit" class="btn btn-primary">
                <i class="@($"fas fa-{SubmitIcon}")" aria-hidden="true"></i>
                <span class="ml-1">@SubmitText</span>
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    @onclick="@(_=>Model.IsVisible=false)">
                <i class="fas fa-times" aria-hidden="true"></i>
                <span class="ml-1">Close</span>
            </button>
        </ModalFooter>
    </Modal>
</EditForm>

@code {
    [Parameter] public ModalFormModel Model { get; set; } = default!;
    [Parameter] public string TitleText { get; set; } = "Form Title";
    [Parameter] public string TitleIcon { get; set; } = "plus";
    [Parameter] public string SubmitText { get; set; } = "Save";
    [Parameter] public string SubmitIcon { get; set; } = "save";
    [Parameter] public ModalSize Size { get; set; } = ModalSize.Default;
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
}